<div class="modal">
    <div class="modal__content modal__content--contact">
        <button type="button" class="modal__close">
            <img src="assets/images/exit.svg" alt="Закрыть">
        </button>

        <form action="/" method="POST" class="form">

            <div class="form__group form__group--md">
                <input
                        class="form__control"
                        type="text"
                        placeholder="Ваше имя"
                />
                <span class="form__line"></span>
            </div>


            <div class="form__group form__group--md">
                <input
                        class="form__control"
                        type="email"
                        placeholder="Ваш Email"
                />
                <span class="form__line"></span>
            </div>

            <div class="form__group form__group--md">
                <textarea
                        class="form__control"
                        placeholder="Текст сообщения"
                ></textarea>
                <span class="form__line"></span>
            </div>

            <div class="form__footer form__footer">
                <div class="form_group form__group--md">
                    <button class="btn btn--blue btn--rounded btn--sm">Отправить</button>
                </div>
            </div>
        </form><!-- /.modal__content -->

        <ul class="modal__footer">
            <li>
                e-mail: <a href="mailto:info@mywebsite.ru">info@mywebsite.ru</a>
            </li>
            <li>
                тел: <a href="tel: +77021112233">+7702-111-22-33</a>
            </li>
        </ul>
    </div><!-- /.modal -->
</div>
